<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>This is the page to create a new donut</h3>

    <form class="" action="/donuts" method="post">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="topping" placeholder="topping">
      <input type="integer" name="price" placeholder="price">
      <input type="submit"  value="submit">
    </form>

  </body>
</html>
