<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>This is the page to create a new shop</h3>

    <form class="" action="/shops" method="post">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="city" placeholder="city">
      <input type="submit"  value="submit">
    </form>

  </body>
</html>
